* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #46aa64;
    --secondary-color: #0a3250;
    --tertiaire-color: #ffffff;
    --main-font: "AvantGardeGothicMedium", arial, sans-serif;
  }
  
  @font-face {
    font-family: "AvantGardeGothicMedium";
    src: url(./Fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf);
  }

  body {
    font-family: var(--main-font);
  }

  ul, ol {
    list-style: none;
  }

  a {
    all: unset;
  }

  button {
    background: transparent;
    border: none;
  }

  button:hover {
    cursor: pointer;
  }

  header {
        display: flex;
        background: var(--secondary-color);
        color: var(--tertiaire-color);
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 1em;

    & .help-button img {
        max-width: 5vw;
    }

    & .help-button {
        color: var(--tertiaire-color);
    }

    & .help-button figcaption {
        text-align: center;
        font-size: 0.5em;
    }

    & .help-button:hover {
        color: var(--primary-color);
        cursor: pointer;
    }

    & .help-button::after {
        content: "";
        width: 0%;
        height: 2px;
        background: var(--primary-color);
        border-radius: 5em;
        display: block;
        margin: auto;
        transition: 200ms;
    }

    & .help-button:hover::after {
        width: 100%;
    }

    & h1 {
        text-transform: uppercase;
    }
    
    & h1 span {
        color: var(--primary-color);
    }

    & .hamburger-menu img {
        max-width: 10vw;
    }

    ul {
        display: flex;
        gap: 2em;
    }

    ul li a:hover {
        color: var(--primary-color);
        cursor: pointer;
    }

    & ul li a::after {
        content: "";
        width: 0%;
        height: 2px;
        background: var(--primary-color);
        border-radius: 5em;
        display: block;
        margin: auto;
        transition: 200ms;
    }

    & ul li a:hover::after {
        width: 100%;
      }
  }

/* Begin stappenplan pop up */
::backdrop {
    background-color: black;
    opacity: 0.5;
}
  
.step-guide {
    margin: 25vh auto;
    width: 75vw;
    height: 60vh;
    border: 0.15em solid black;

    opacity: 1;
    transition-duration: 0.3s;

    grid-template-areas: 
    "linksboven . rechtsboven"
    ". midden rechtsmidden"
    ". middenonder.";
    grid-template-columns: 10vw 55vw 10vw;
    grid-template-rows: 10vh 40vh 10vh;
    align-items: center;
    text-align: center;

    overflow: hidden;

    h2 {
        grid-area: linksboven;
    }

    .close {
        grid-area: rechtsboven;
    }

    p {
        grid-area: midden;
    }

    .next {
        grid-area: rechtsmidden;
    }

    .numbered-nav {
        grid-area: middenonder;
    }

    ol {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 2em;
    }    

    img {
        max-width: 4em;
    }

    span {
        display: flex;
        flex-direction: column;
    }

    &[open] {
        display: grid;
    }

    .current-step {
        font-size: 1.25em;
        width: 1.25em;
        background-color: var(--primary-color);
        border-radius: 50%;
    }
}

/* Einde stappenplan pop up */

  @media (max-width: 630px) {
    header ul {
        display: none;
    }

    h1 {
        font-size: 2em;
    }

    .help-button {
        scale: 1.2;
    }

    .front-content {
        min-height: 50vh;
    }

    .front-content img {
        display: none;
    }

    .front-content blockquote {
        text-align: center;
        font-size: 1.2em;
    }

    .step-guide {

        grid-template-columns: 10vw 50vw 15vw ;
        
        & img {
            max-width: 2em;
        }

        h2 {
            padding-left: 1em;
        }

        button {
            padding-left: 0;
        }

        span {
            font-size: 0.75em;
        }

        .numbered-nav {
            font-size: 0.75em;
        }
    }
}

  @media (min-width: 630px) {
    .help-button {
        font-size: 2em;
    }

    header {
        padding: 1em 2em;
    }

    header .hamburger-menu {
        display: none;
    }

    .step-guide {
        
        & h2 {
            font-size: 2em;
        }
    }
  }

  main {

    & .front-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        gap: 1em;
    }

    & .front-content img {
        max-width: 50vw;
        border-radius: 2em;
    }

    blockquote {
        display: flex;
        padding: 1em;
    }

    blockquote h2 {
        font-size: 3em;
        color: var(--primary-color);
        min-width: 40vw;
    }

    blockquote h2 span {
        color: black;
    }
  }  

  @media (min-width: 800px) {
    main blockquote h2 {
        font-size: 4em;
    }

    h1 {
        font-size: 2.5em;
    }
  }

  @media (min-width: 1200px) {
    .help-button img {
        width: 3vw;
    }

    h1 {
        font-size: 3.5em;
    }

    .front-content img {
        width: 35vw;
    }

    main blockquote h2 {
        font-size: 5em;
    }

    .step-guide {

        & h2 {
            font-size: 4em;
            padding-top: 1.2em;
        }

        p {
            font-size: 2em;
        }

        button {
            padding-left: 4em;
        }
    }
  }

  .marketplace {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    box-shadow: 0 -0.2rem 0.4rem -0.1rem rgba(140, 161, 174, 0.5);  
  }




  




  